.car-list .car-list-even,.car-list .car-list-odd{
    padding:10 15;
    border-bottom-width:1;
    border-color:rgba(2,39,52,0.2)
}
.car-list .car-list-odd{
    background-color:rgba(2,39,52,0.1);
    color:rgba(2,39,52,0.5)
}
.car-list .car-list-price{
    width:35;
    text-align:right
}
.car-list TextField.invalid-text{
    placeholder-color:#ED473F
}
.car-list .invalid-image{
    color:#ED473F
}
.thumb{
    background-size:cover;
    background-repeat:no-repeat;
    font-size:25;
    font-weight:bold
}
.thumb .thumb-add{
    background-color:transparent;
    color:rgba(2,39,52,0.2);
    border-radius:3;
    border-width:1;
    border-color:rgba(2,39,52,0.2)
}
.thumb .thumb-remove{
    color:#fff;
    background-color:rgba(2,39,52,0.2)
}
 