.list-group .list-group-item{
    padding:0 0 8 0;
    background-color:rgba(2,39,52,0.1)
}
.list-group .list-group-item .list-group-item-content{
    padding:8 15 4 15;
    background-color:#fff
}
.list-group .list-group-item .fa{
    color:#3A53FF
}

.fab-button {
    width: 56;
    height: 56;
    background-color: #3A53FF;
    border-radius: 28;
    vertical-align: center;
}

.fab-icon {
    height: 16;
    width: 16;
}

.fab-dash--1,
.fab-dash--2 {
    background-color: #fff;
    transform: translate(0, -2);
    height: 16;
    width: 3;
}

.fab-dash--1 {
    transform: rotate(90deg) translate(0, -2);
}

.iconActive {
    animation-name: iconActive;
    animation-duration: .25;
    animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation-fill-mode: forwards;
}

.iconIdle {
    animation-name: iconActive;
    animation-duration: .25;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

@keyframes iconActive {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(225deg);
    }
}
